<% if signed_in? %>
	<div class="row" summary="For signed-in users">
		<!-- <tr> -->
			<div class="col-md-9 col-offset-1">
				<h1 class="micropost">What's up?</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			<!-- </td> -->
			</div>
			<div class="sidebar col-md-3">
				<%= render 'shared/user_info' %>
				<!-- <%= render 'shared/stats' %> -->
			</div>
		<!-- </tr> -->
	</div>
<% else %>
	<h1>Tweetter</h1>
	<p>
		Welcome to tweetter!!
	</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>