<header>
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
        	</button>
			<% logo = image_tag("logo.png", :alt => "TWEETTER", :class => "navbar-brand mnavbar-brand") %>
			<%= link_to logo, root_path %>
		</div>
		<div class="navbar-collapse collapse navbar-inverse-collapse">

			<ul class="nav navbar-nav navbar-right">
	            <li><%= link_to "Home", root_path %></li>
	            <% if signed_in? %>
				<li><%= link_to "Profile", current_user %></li>
				<% end %>
				<li><%= link_to "Help", help_path %></li>
				<% if signed_in? %>
				<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
				<% else %>
				<li><%= link_to "Sign in", signin_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</header>	